# Caricamento libreria

In [ ]:
import pandas as pd

# Sostituisci con i nomi reali dei tuoi file
file_categorie = 'SubCategoryCatalogue.csv'
file_consumo = 'ElectricityProductionPlant.csv'

df_categorie = pd.read_csv(file_categorie)
df_consumo = pd.read_csv(file_consumo)

In [ ]:
# Filtra solo il Canton BE
df_consumo_be = df_consumo[df_consumo['Canton'] == 'BE']

In [ ]:

# Raggruppa per Municipality E MainCategory
grouped = df_consumo_be.groupby(
    ['Municipality', 'SubCategory']
)['TotalPower'].sum().reset_index()

In [ ]:
# Unisci con le descrizioni delle categorie
merged = pd.merge(
    grouped,
    df_categorie[['Catalogue_id', 'en']],
    left_on='SubCategory',
    right_on='Catalogue_id',
    how='left'
)

In [8]:
# Seleziona e rinomina le colonne
final_df = merged[['Municipality', 'en', 'TotalPower']].rename(
    columns={'en': 'Category_EN'}
)

# Visualizza il risultato
final_df

           Municipality               Category_EN  TotalPower
0               Aarberg       Hydroelectric power    15000.00
1               Aarberg  Other renewable energies    19223.94
2             Aarwangen  Other renewable energies     4236.65
3           Abländschen  Other renewable energies       39.58
4              Achseten  Other renewable energies      342.21
...                 ...                       ...         ...
1095        Zweisimmen   Other renewable energies        7.02
1096        Zwieselberg  Other renewable energies      349.73
1097       Zwischenflüh  Other renewable energies      136.79
1098            Zäziwil  Other renewable energies     1460.01
1099  lenk im Simmental  Other renewable energies       19.20

[1100 rows x 3 columns]

In [9]:
final_df.to_csv('consumo_per_municipality_categoria.csv', index=False)